@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

/*-------------------------------header--*/

.navbar {
  background-color: black;
  overflow: hidden;
}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.navbar a:hover {
  background-color: grey;
  color: black;
}


.navbar a.active {
  background-color:white;
  color: black;
  font-style: oblique;

}
/*-------------------------------body--*/

section {
    float: left;
}

/*-------------------------------footer--*/



.footer-bar {
  background-color: black;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 99%;


}
.footer-bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.footer-bar a:hover  {
  background-color: grey;
  color: black;
}


.footer-bar a.active {
  background-color:grey;
  color: white;
<<<<<<< HEAD
}
=======
}

>>>>>>> 5b5bf851d59c001ce026be48c5dd38bf52658919
