@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap')

/*-------------------------------header--*/

 li a; {
     font-family: "Merriweather", sans-serif;
     font-weight: 500;
     font-size: 16px;
     text-decoration: none;
 }

 li {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 30px 10%;
     float: left;
      background-image: url
}

.navbar {
    background-color: black;
    overflow: hidden;
}

.navbar a {
      float: left;
    color: #f2f2f2;
    text-align: center;
     padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/*-------------------------------body--*/

section {
    float: left;
}

/*-------------------------------footer--*/

footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px
    

}