/*-------------------------------index--*/

/*-------------------------------header--*/

.header {
    position: relative;
}

.navbar {
  background-color: black;
  overflow: hidden;


}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
}


.navbar a:hover {
  background-color: grey;
  color: black;
}


a.logo {
  background-color:white;
  color: black;
  font-style: oblique;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;

}

.navbar-right {
    float: right;
}
.button {
    color: white;
    background-color: grey;
    border-radius: 60%;

}
/*-------------------------------body--*/

.index-body-banner {

    height:50vh;
    max-width:100%;
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

h1 {
    color: black;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
}


* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


/*-------------------------------footer--*/

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  overflow: hidden;
}

/*-------------------------------index--*/





